.loginBox {
    width: 18rem;
    position: absolute;
    left: 40%;
    top: 20%;
    text-align: center;
    margin-bottom: auto;
    padding: 2px;
  }

  .accountBox {
    width: 28rem;
    position: absolute;
    left: 40%;
    top: 20%;
    text-align: center;
    margin-bottom: auto;
    padding: 2px;
  }
  .navbarpaper {
    display : flex;
    flex-direction: column;
    
  }